doctype html
html(lang="en")
    include components/head.pug
    body
        div(class='container')
            include components/menu.pug
            include components/banner.pug
            include components/menu-mobile.pug
            include components/recipes.pug
            include components/sponsorship.pug

