<!-- Header -->
header(class='menu')
    div(class='menu__logo')
        div(class='menu__text')
            p(class='menu__font') Recipe
            p App
    div(class='menu__list')
        ul 
            li Home
            li Vegetarianos
            li Platos Principales
            li Tortas
            li Comida Rápida
            li Menú Niños
            li Sopas
    div(class='menu__mobile')
        div(class='menu__home')
