<!-- Menu Mobile -->
<section class="menu-mobile">
  <div> <img src="./assets/svg/vegetarian.svg"/>
    <p>Vegetarianos</p>
  </div>
  <div> <img src="./assets/svg/main.svg"/>
    <p>Principales</p>
  </div>
  <div> <img src="./assets/svg/cake.svg"/>
    <p>Tortas</p>
  </div>
  <div> <img src="./assets/svg/fast-food.svg"/>
    <p>Rápida</p>
  </div>
  <div> <img src="./assets/svg/kids.svg"/>
    <p>Menú Niños</p>
  </div>
  <div> <img src="./assets/svg/soup.svg"/>
    <p>Sopas</p>
  </div>
</section>