<!-- Recipes -->
<section class="recipes">
  <h2>Nuevas Recetas</h2>
  <div class="recipes__content">
    <div class="recipes__dish"> 
      <div class="recipes__photo ojingeo"> </div>
      <div class="recipes__desc">
        <p>Ojingeo</p>
        <p class="recipes__title">Muchim</p>
      </div>
      <div class="recipes__info">
        <div class="recipes__portion"><img src="./assets/svg/portion.svg"/><span>Tamaño de la porción</span>
          <p>4 raciones</p>
        </div>
        <div class="recipes__time"> <img src="./assets/svg/time.svg"/><span>Tiempo de preparación</span>
          <p> 10 minutos</p>
        </div>
        <div class="recipes__difficulty"> <img src="./assets/svg/difficulty.svg"/><span>Dificultad</span>
          <p>fácil</p>
        </div>
      </div>
      <div class="recipes__punctuation"> 
        <div class="recipes__star"> <img src="./assets/svg/star.svg"/>
          <p>5.0</p>
        </div>
        <div><img src="./assets/svg/favorite.svg"/></div>
      </div>
    </div>
    <div class="recipes__dish"> 
      <div class="recipes__photo cola"> </div>
      <div class="recipes__desc">
        <p>Cola</p>
        <p class="recipes__title">Chicken</p>
      </div>
      <div class="recipes__info">
        <div class="recipes__portion"><img src="./assets/svg/portion.svg"/><span>Tamaño de la porción</span>
          <p>4 raciones</p>
        </div>
        <div class="recipes__time"> <img src="./assets/svg/time.svg"/><span>Tiempo de preparación</span>
          <p> 10 minutos</p>
        </div>
        <div class="recipes__difficulty"> <img src="./assets/svg/difficulty.svg"/><span>Dificultad</span>
          <p>fácil</p>
        </div>
      </div>
      <div class="recipes__punctuation"> 
        <div class="recipes__star"> <img src="./assets/svg/star.svg"/>
          <p>5.0</p>
        </div>
        <div><img src="./assets/svg/favorite.svg"/></div>
      </div>
    </div>
    <div class="recipes__dish"> 
      <div class="recipes__photo roasted"> </div>
      <div class="recipes__desc">
        <p>Roasted</p>
        <p class="recipes__title">Carrot</p>
      </div>
      <div class="recipes__info">
        <div class="recipes__portion"><img src="./assets/svg/portion.svg"/><span>Tamaño de la porción</span>
          <p>4 raciones</p>
        </div>
        <div class="recipes__time"> <img src="./assets/svg/time.svg"/><span>Tiempo de preparación</span>
          <p> 10 minutos</p>
        </div>
        <div class="recipes__difficulty"> <img src="./assets/svg/difficulty.svg"/><span>Dificultad</span>
          <p>fácil</p>
        </div>
      </div>
      <div class="recipes__punctuation"> 
        <div class="recipes__star"> <img src="./assets/svg/star.svg"/>
          <p>4.5</p>
        </div>
        <div><img src="./assets/svg/favorite.svg"/></div>
      </div>
    </div>
    <div class="recipes__dish"> 
      <div class="recipes__photo sweet"> </div>
      <div class="recipes__desc">
        <p>Sweet</p>
        <p class="recipes__title">Cherries</p>
      </div>
      <div class="recipes__info">
        <div class="recipes__portion"><img src="./assets/svg/portion.svg"/><span>Tamaño de la porción</span>
          <p>4 raciones</p>
        </div>
        <div class="recipes__time"> <img src="./assets/svg/time.svg"/><span>Tiempo de preparación</span>
          <p> 10 minutos</p>
        </div>
        <div class="recipes__difficulty"> <img src="./assets/svg/difficulty.svg"/><span>Dificultad</span>
          <p>fácil</p>
        </div>
      </div>
      <div class="recipes__punctuation"> 
        <div class="recipes__star"> <img src="./assets/svg/star.svg"/>
          <p>4.0</p>
        </div>
        <div><img src="./assets/svg/favorite.svg"/></div>
      </div>
    </div>
  </div>
</section>